# Node artifact files
node_modules/
package-lock.json

# JetBrains IDE
.idea/

# Build files
./metadata/
./styles*
./types*
./index*
babel.config.cjs.js

# Pycache
__pycache__/
*.py[cod]
*$py.class

# Tarballs
*.tgz
